.movies-card-list {
  margin: 0 auto;
  padding-top: 70px;
  width: 1140px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 364px);
  column-gap: 24px;
  row-gap: 30px;
  justify-items: center;
  border-top: 1px solid #424242;
}

.movies-card-list__more-button {
  width: 320px;
  height: 32px;
  margin: 50px auto 80px;
  padding: 0;
  background-color: inherit;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border: 1px solid #424242;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
  transition: linear .4s;
  -webkit-transition: linear .4s;
  -moz-transition: linear .4s;
  -ms-transition: linear .4s;
  -o-transition: linear .4s;
}

.movies-card-list__more-button:hover {
  cursor: pointer;
  opacity: .8;
}

/* скрыть кнопку, когда нечего отображать и для SavedMovies */
.movies-card-list__more_hidden {
  display: none;
}

@media screen and (max-width: 1160px) {
  .movies-card-list {
    padding-top: 70px;
    width: 708px;
    grid-template-columns: repeat(auto-fill, 339px);
    column-gap: 30px;
    row-gap: 36px;
  }

  .movies-card-list__more-button {
    line-height: 14.52px;
  }
}

@media screen and (max-width: 750px) {
  .movies-card-list {
    padding-top: 70px;
    width: 292px;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 0;
    row-gap: 16px;
  }

  .movies-card-list__more-button {
    width: 240px;
    height: 36px;
    line-height: 15px;
    margin: 80px auto;
  }
}

