.movies {
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 1160px) {
  .movies {
    max-width: 708px;
  }
}

@media screen and (max-width: 750px) {
  .movies {
    max-width: 320px;
  }
}
