.search-form {
  width: 1140px;
  height: 72px;
  margin: 70px auto 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2F2F2F;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.search-form__input-container {
  width: 913px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-right: 1px solid #424242;
}

.search-form__image {
  width: 34px;
  height: 34px;
  margin: 19px 10px 19px 19px;
}

.search-form__input {
  background-color: inherit;
  border: none;
  padding: 0;
  outline: none;
  margin: 25px 0;
  width: 740px;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.search-form__input:focus {
  font-weight: 500;
}

.search-form__submit-button {
  margin: 19px 30px 19px 46px;
  width: 34px;
  height: 34px;
  border: none;
  background: url('../../images/search-button_icon.svg');
  transition: linear .4s;
  -webkit-transition: linear .4s;
  -moz-transition: linear .4s;
  -ms-transition: linear .4s;
  -o-transition: linear .4s;
}

.search-form__submit-button:hover {
  cursor: pointer;
  opacity: .7;
}

.search-form__filter-container {
  width: 296px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1160px) {
  .search-form {
    width: 708px;
    margin: 80px auto 110px;
}

  /* изменить цвет и границы формы поиска фильмов при открытом блоке навигации */
  /* .search-form_theme_nav-opened {
    background-color: #202020;
    border: 1px solid #2F2F2F;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
  } */

  .search-form__input-container {
    width: 500px;
  }

  .search-form__input {
    width: 338px;
    font-size: 18px;
    line-height: 20px;
  }

  .search-form__submit-button {
    margin: 19px 19px 19px 46px;
  }

  .search-form__filter-container {
    width: 207px;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 750px) {
  .search-form {
    width: 300px;
    margin: 80px auto 44px;
    flex-direction: column;
    height: auto;
    background-color: #202020;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}

  .search-form__input-container {
    width: 300px;
    height: 72px;
    background-color: #2F2F2F;
    margin: 0 auto;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-right: none;
  }

  .search-form__input {
    width: 182px;
    font-size: 14px;
    line-height: 20px;
    margin: 25px 0 25px 19px;
}

  .search-form__image {
    display: none;
  }

  .search-form__filter-container {
    margin: 46px 0 0 0;
    width: 300px;
    display: flex;
    flex-direction: row;
  }
}
