.nav-tab__link {
  height: 36px;
  width: 96px;
  border-radius: 10px;
  background-color: #303030;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  margin: 0 10px 0 0;
}

.nav-tab__link:last-child {
  margin-right: 0;
}
