.about-me {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

.about-me__heading {
  margin: 110px auto 23px 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #FFFFFF;
}

.about-me__container {
  width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #DADADA;
  margin: 0 auto;
}

.about-me__column {
  margin: 66px 270px 0 0;
}

.about-me__name {
  width: 600px;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #FFFFFF;
  margin: 0;
}

.about-me__bio {
  margin: 18px 0 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
}

.about-me__info {
  margin: 26px 0 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.about-me__links {
  margin: 99px 0 0 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-end;
}

.about-me__link {
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  vertical-align: end;
  color: #FFFFFF;
  margin: 0 20px 0 0;
  transition: linear .4s;
  -webkit-transition: linear .4s;
  -moz-transition: linear .4s;
  -ms-transition: linear .4s;
  -o-transition: linear .4s;
}

.about-me__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.about-me__link:last-child {
  margin: 0;
}

.about-me__avatar {
  width: 270px;
  height: 348px;
  margin: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.about-me__link-text {
  text-decoration: none;
  color: inherit;
}
