.login {
  width: 396px;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
}

.login__logo-link {
  margin: 0;
}

.login__logo {
  width: 38px;
  height: 38px;
}

.login__heading {
  width: 100%;
  margin: 40px auto 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.login__form {
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
}

.login__field {
  width: 100%;
  margin: 0 auto 24px;
  display: flex;
  flex-direction: column;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.login__field:nth-child(2) {
  margin: 0 auto;
}

.login__input {
  width: 100%;
  margin: 5px auto 0;
  background-color: inherit;
  outline: none;
  padding: 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #424242;
}

.login__input:focus {
  font-weight: 500;
  border-bottom: 1px solid #4285F4;
}

/* если поле невалидное */
/* .login__input_error {
  color: #EE3465;
} */

.login__input-error {
  /* visibility: hidden; */
  margin: 6px auto 0;
  width: 100%;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.login__submit-button {
  width: 100%;
  height: 45px;
  margin: 221px auto 0;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: linear .4s;
  -webkit-transition: linear .4s;
  -moz-transition: linear .4s;
  -ms-transition: linear .4s;
  -o-transition: linear .4s;
}

.login__submit-button:hover {
  cursor: pointer;
  opacity: .8;
}

.login__bottom-container {
  display: flex;
  flex-direction: row;
  margin: 16px auto 0px;
  align-items: center;
}

.login__bottom-text {
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
  margin: 0 6px 0 0;
}

.login__bottom-link {
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  text-decoration: none;
  color: #4285F4;
  transition: linear .4s;
  -webkit-transition: linear .4s;
  -moz-transition: linear .4s;
  -ms-transition: linear .4s;
  -o-transition: linear .4s;
}

.login__bottom-link:hover {
  opacity: .7;
}

@media screen and (max-width: 1160px) {
  .login {
    margin: 232px auto;
  }
}

@media screen and (max-width: 750px) {
  .login {
    width: 260px;
    margin: 50px auto 30px;
  }

  .login__logo-link {
    margin: 0 auto;
  }

  .login__heading {
    margin: 50px auto 0;
    text-align: center;
  }

  .login__submit-button {
    margin: 309px auto 0;
  }

  .login__bottom-container {
    margin: 14px auto 0px;
  }

  .login__bottom-text {
    font-size: 12px;
    line-height: 14.52px;
  }

  .login__bottom-link {
    font-size: 12px;
    line-height: 14.52px;
  }
}
